<div class="centered-container">
  <div class="body">
    <div class="output">
      <h5>{{fun}}</h5>
      <div class="inp">{{input | number}}</div>
    </div>
    <div class="input">
      <table>
        <tr>
          <td>
            <button class="btn1 eql" (click)="onClickValue('C','function')">C</button>
            <button class="btn1" (click)="onClickValue('%','function')">%</button>
            <button class="btn1"(click)="onClickValue('/','function')">/</button>
          </td>
      </tr>
        <tr>
            <td>
              <button class="btn1" (click)="onClickValue('7','number')">7</button>
              <button class="btn1" (click)="onClickValue('8','number')">8</button>
              <button class="btn1" (click)="onClickValue('9','number')">9</button>
              <button class="btn1" (click)="onClickValue('*','function')">*</button>
            </td>
        </tr>
        <tr>
          <td>
            <button class="btn1" (click)="onClickValue('4','number')">4</button>
            <button class="btn1" (click)="onClickValue('5','number')">5</button>
            <button class="btn1" (click)="onClickValue('6','number')">6</button>
            <button class="btn1" (click)="onClickValue('-','function')">-</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn1" (click)="onClickValue('1','number')">1</button>
            <button class="btn1" (click)="onClickValue('2','number')">2</button>
            <button class="btn1" (click)="onClickValue('3','number')">3</button>
            <button class="btn1" (click)="onClickValue('+','function')">+</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn1" (click)="onClickValue('0','number')">0</button>
            <button class="btn1" (click)="onClickValue('.','number')">.</button>
            <button class="btn1 btn-primary eql" (click)="onClickValue('=','function')">=</button>
          </td>
      </tr>
    </table>
    </div>
  </div>
</div>

